{% if paginator.total_pages > 1 %}
    <nav class="pagination">
        <div class="left">
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}">&LongLeftArrow; Older</a>
            {% endif %}
        </div>

        <div class="center">
            Page
            {{ paginator.page }}
            of
            {{ paginator.total_pages }}
        </div>

        <div class="right">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}">Newer &LongRightArrow;</a>
            {% endif %}
        </div>
    </nav>
{% endif %}
