@import 'variables.scss';
@import 'utils.scss';
@import 'fonts.scss';

* {
    margin: 0;
    padding: 0;
}

:root {
    color: $text_color_primary;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: ratio(3);
}

body {
    padding: 0 1em * ratio(2);
}

main {
    max-width: $measure;
    margin: 0 auto;
}

h1 {
    color: $heading_color;
    font-size: 1rem * ratio(4);
    line-height: ratio(2);
}

h2 {
    margin-top: 1rem * ratio(4);

    color: $heading_color;
    font-size: 1rem * ratio(2);
    line-height: ratio(4);

    & + * {
        margin-top: 1em / ratio(1);
    }
}

p {
    margin-top: 1em;
}

a {
    color: $link_color;
    text-decoration: none;
}

li + li {
    margin-top: 1em / ratio(4);
}

code {
    font-family: monospace;
}

.top-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: $measure * ratio(1);
    margin: 3em auto;

    & .brand {
        color: $text_color_primary;
        font-weight: bold;
        font-size: 1rem * ratio(3);

        &:focus,
        &:hover {
            color: $link_color;
        }
    }

    & div {
        display: flex;
        margin-left: -0.5em;

        & a {
            padding: 0 0.5em;

            color: $text_color_secondary;

            &:focus,
            &:hover {
                color: $text_color_primary;
            }

            &.active {
                color: $link_color;
            }

            & + a {
                margin-left: 0.5em;
            }
        }
    }
}

hr {
    margin-top: 1em * ratio(1);
    margin-bottom: 1em * ratio(4);

    border: none;
    border-bottom: 1px solid whitesmoke;

    font-size: 1rem * ratio(2);
}

footer {
    max-width: $measure;
    margin: 3em auto;

    & a {
        padding: 0 0.5em;
    }

    & .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin-top: 3em;
    }
}

.date {
    color: $text_color_secondary;
    font-size: 0.9em;
}
