---
---

@import 'common.scss';

main {
    & header h1 {
        font-size: 1rem * ratio(2);

        & a {
            color: inherit;

            &:hover,
            &:focus {
                color: $link_color;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: space-between;

    & > * {
        flex-basis: 33%;

        &.center {
            color: $text_color_secondary;
            text-align: center;
        }

        &.right {
            text-align: right;
        }
    }
}
